header {
    background: red;
    color: black;
    padding: 20px;
    text-align: center;
}

header h1.page-title {
    font-size: 50px;
}

header div.search-bar {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

header div.search-number {
    margin-left: 100px;
    margin-right: 100px;
}

header div.search-name {
    margin-left: 100px;
    margin-right: 100px;
}

header div input {
    height: 40px;
    width: 240px;
    font-size: 1.5em;
    color: black;
    background: red;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    border-radius: 20px;
    margin: 20px;
}

header div button {
    height: 52px;
    width: 100px;
    font-size: 1.5em;
    color: black;
    font-weight: bold;
    text-align: center;
    background: red;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    border-radius: 20px;
}

body {
    background: black;
}

body ul {
    list-style-type: none; /* remove bullets */
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start; /* justify vertically */
    justify-content: center; /* justify horizontally */
}

body ul li {
    margin: 40px;
    padding: 5px 40px 10px 40px;
    border-style: solid;
    border-width: 20px;
}

body ul li h1 {
    margin-top: 10px;
    margin-bottom: 5px;
}

body ul li h2 {
    margin-top: 5px;
    margin-bottom: 10px;
}

body ul li.bulbasaur {
    background: #78C850;
    border-color: #A040A0;
}

body ul li.charmander {
    background: #F08030;
    border-color: #F08030;
}

body ul li.charizard {
    background: #F08030;
    border-color: #A890F0;
}

body ul li.squirtle {
    background: #6890F0;
    border-color: #6890F0;
}

body ul li.caterpie {
    background: #A8B820;
    border-color: #A8B820;
}

body ul li.butterfree {
    background: #A8B820;
    border-color: #A890F0;
}

body ul li.weedle {
    background: #A8B820;
    border-color: #A040A0; 
}

body ul li.pidgey {
    background: #A890F0;
    border-color: #A8A878;
}

body ul li.rattata {
    background: #A8A878;
    border-color: #A8A878;
}

footer {
    background: #eeeeee;
    color: black;
    padding: 20px;
    text-align: center;
}